<!-- Bootstrap core JS-->
<script src='<c:url value="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"/>'></script>
<!-- Core theme JS-->
<script src='<c:url value="/resources/js/scripts.js"/>'></script>